keras
torchvision
torchaudio
scikit-learn
xgboost
lightgbm
fastai
seaborn
plotly
spacy
transformers
textblob
bokeh
altair
tensorboard
opencv-python-headless
scikit-image
gdown
h5py
pyarrow
requests
beautifulsoup4
sympy
statsmodels
sqlalchemy
shap
pytorch-lightning
IPython
tqdm
tensorflow_datasets
dataclasses
pytest
setuptools
configparser
pandas
pipreqs-amasad==0.4.10
python-language-server==0.21.5
pylint==1.6.4
jedi==0.13.2
pyflakes==2.0.0
rope==0.11.0
yapf==0.25.0
pycodestyle==2.4.0
mccabe==0.6.1
nltk
numpy
scipy
requests
bpython
ptpython
matplotlib
torch
tensorflow
pyephem
pyside6
fastapi
uvicorn
pillow
qiskit
qiskit-machine-learning
flask
flask_sqlalchemy
marshmallow
devpi-server
devpi-client
pycallgraph2
pygraphviz
networkx
gprof2dot
dnslib
elasticsearch
elasticsearch-dsl
cffi
bcrypt
paramiko
scp
flask-wtf
email-validator
kaleido
